.grid {
    width: 200px;
    height: 300px;
}
.resume {
    text-align: center;
}
@media screen and (max-width: 1920px) {
    h1 {
        font-family: 'M PLUS 1', sans-serif;
        font-size: 36px;
        font-weight: bold;
    }
    h2 {
        font-family: 'M PLUS 1', sans-serif; 
        font-size: 32px;
        font-weight: bold;
    }
    h3 {
        font-family: 'M PLUS 1', sans-serif; 
        font-size: 24px;
        font-weight: bold;
    }
    h4 {
        font-family: 'M PLUS 1', sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    h5 {
        font-family: 'M PLUS 1', sans-serif; 
        font-size: 14px;
        font-weight: bold;
    }
    h6 {
        font-family: 'M PLUS 1', sans-serif;
        font-size: 12px;
        font-weight: bold;
    }
    p,ol,ul {
        font-family: 'Mada', sans-serif;
        font-size: 24px;
    }
    a:link {
        color: #ABABAB
    }
    a:hover {
        color: #FFA800
    }
    a:visited {
        color: #00B2FF
    }
    button:hover {
        background-color: #000E8C;
        font-size: 24px;
        font-family: 'Mada', sans-serif;
        color: #FFA800;   
        border: 5px solid #FFFFFF;    
    }
    button:default {
        color: #ABABAB;
        font-size: 24px;
        font-family: 'Mada', sans-serif;
        background-color:#000E8C;
    }
    button:visited {
        color: #000E8C;
        font-size: 24px;
        font-family: 'Mada', sans-serif;
        background-color:#00B2FF;
    }
    hr {
        border: 2.5px solid #000E8C;
    }
    nav {
        background-color: #000E8C;
        padding: .5em;
        position: sticky;
        top: 0;
    }
      
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
      
    nav a {
        color: #fff;
        text-decoration: none;
        padding: .5em 1em;
    }

    nav a:hover {
        background-color: #000E8C;
        font-size: 24px;
        font-family: 'Mada', sans-serif;
        color: #FFA800;   
        border: 5px solid #FFFFFF;
    }
    .home-image {
        float: left;
        padding: 25px;

    }
    .gamesImage {
        float:right;
        padding: 25px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1px;
        width: 200px;
        height: 300px;
        list-style-type: none;
    }
    .homepage-imagetext{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (max-width: 800px) {
    h1 {
        font-family: 'M PLUS 1', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
    h2 {
        font-family: 'M PLUS 1', sans-serif; 
        font-size: 16px;
        font-weight: bold;
    }
    h3 {
        font-family: 'M PLUS 1', sans-serif; 
        font-size: 12px;
        font-weight: bold;
    }
    h4 {
        font-family: 'M PLUS 1', sans-serif;
        font-size: 8px;
        font-weight: bold;
    }
    h5 {
        font-family: 'M PLUS 1', sans-serif; 
        font-size: 7px;
        font-weight: bold;
    }
    h6 {
        font-family: 'M PLUS 1', sans-serif;
        font-size: 6px;
        font-weight: bold;
    }
    p,ol,ul {
        font-family: 'Mada', sans-serif;
        font-size: 12px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1px;
        list-style-type: none;

    }
    .home-image {
        float: left;
        padding: 25px;
        margin: 0px 20px 0px 0px;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1px;
    }
    .gamesImage {
        float:right;
        padding: 25px;
        width: 92px;
        height: 110px;
    }
    button:hover {
        background-color: #000E8C;
        font-size: 10px;
        font-family: 'Mada', sans-serif;
        color: #FFA800;   
        border: 5px solid #FFFFFF;
        width: 50px;    
        height: 50px;
        
    }
    button:default {
        color: #ABABAB;
        font-size: 10px;
        font-family: 'Mada', sans-serif;
        background-color:#000E8C;
        width: 50px;
        height: 50px;
    }
    button:visited {
        color: #000E8C;
        font-size: 10px;
        font-family: 'Mada', sans-serif;
        background-color:#00B2FF;
        width: 50px;
        height: 50px
    }
    .homepage-imagetext{
        display: grid;
        grid-template-columns: 1fr;
    }
}